@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);

*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

/* demo контейнер */
.demo {
    max-width: 1024px;
    padding: 0 20px;
    margin: 5% 10%;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
    display: none;
}

/* вид текста label */
.hide + label {
    margin: 0;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block;
}

/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
    background: #ffffff;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    margin-left: 20px;
    padding: 10px;
    /* чуточку анимации при появлении */
    -webkit-animation: fade ease-in 0.5s;
    -moz-animation: fade ease-in 0.5s;
    animation: fade ease-in 0.5s;
}

/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.hide + label:before {
    background-color: #1e90ff;
    color: #fff;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.hide:checked + label:before {
    content: "\2212";
}

.access {
    float: right;

}

.accept {
    margin-top: 140px;
    float: right;
    margin-right: 100px;
    color: darkblue;

}

.form_1 {

}

.form_1 b {;
}

.panel {
    float: right;
    margin-top: 10px;
    margin-right: 30px;

}

b {
    color: steelblue;
}

.content {
    width: 75%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto 0;
    border-radius: 20px;
    opacity: 1;
    padding-bottom: 50px;

}

.head {
    width: 100%;
    height: 150px;
    background: rgb(238, 238, 238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0); /* IE6-9 */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
    border-bottom: 5px solid rgb(238, 238, 238);
}

.title {
    color: darkblue;
    padding-top: 35px;
    padding-left: 20px;
}

td {

    vertical-align: bottom;
    text-align: center;
}

hr {
    width: 87%;
}

.auth {
    float: right;
    margin-top: 12px;
    margin-right: 0px;
    width: 250px;
    border-left: 6px solid rgb(238, 238, 238);
    border-right: 6px solid rgb(238, 238, 238);

}

.pas {
    padding-right: 14px;
}

body {
    background-image: url(a.jpg);
    background-attachment: fixed;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.a_t {

    margin: 0 auto;

}

.asd {
    height: 84px;

}

.input {
    width: 183px;
}
