{% extends "index.html" %}
{% block content %}
    {% include "include_2.html" %}


    <table width="80%" class="a_t">
        <tr>
            <td><h2 align="center">Добавить порт<br></h2></td>
            <td><h2 align="center">Добавить судно</h2></td>
        </tr>
        <tr>
            <td>
                <form class="form_1" action="add_port" method="post">
                    {% csrf_token %}
                    <label><b>Название: </b><input type="text" name="port"><br><br></label>
                    <input type="submit" value="Принять" class="button">
                    <br><br><br><br><br><br><br><br><br>

                </form>
                {{ y }}
            </td>
            <td>
                <form class="form_1" action="add_sudno" method="post">
                    {% csrf_token %}
                    <label><b>Название: </b><input type="text" name="s_name"><br><br></label>
                    <label><b>Модель: </b><input type="text" name="s_model"><br><br></label>
                    <label><b>Доп данные: </b><input type="text" name="s_char"><br><br></label>
                    <label><b>Тип: </b><input type="text" name="s_type"><br><br></label>
                    <input type="submit" value="Принять" class="button">
                    <br><br><br>
                </form>
                {{ z }}
            </td>
        </tr>

        <tr>
            <td><h2 align="center">Добавить транспортировку </h2></td>
            <td><h2 align="center">Добавить персонал </h2></td>
        </tr>

        <tr>
            <td>
                <form action="add" method="post" class="form_1">{% csrf_token %}
                    <label><b>Судно: </b>
                        <select size="1" name="s_name">
                            {% for i in sudno %}
                                <option value="{{ i.s_name }}">{{ i.s_name }}</option>
                            {% endfor %}
                        </select>
                        <br><br></label>
                    <label><b>Пункт отправления: </b><select size="1" name="p_otprav">
                        {% for i in port %}
                            <option value="{{ i.port }}">{{ i.port }}</option>
                        {% endfor %}
                    </select><br><br></label>
                    <label><b>Пункт прибытия: </b><select size="1" name="p_prib">
                        {% for i in port %}
                            <option value="{{ i.port }}">{{ i.port }}</option>
                        {% endfor %}
                    </select><br><br></label>
                    <label><b>Время отправки: </b><input type="datetime-local" name="t_otprav"><br><br></label>
                    <label><b>Время прибытия: </b><input type="datetime-local" name="t_prib"><br><br></label>
                    <input type="submit" value="Принять" class="button">
                    <br><br>

                </form>
                {{ x }}
            </td>
            <td>
                <form class="form_1" action="add_p" method="post">
                    {% csrf_token %}
                    <label><b>ФИО: </b><input type="text" name="p_name"><br><br></label>
                    <label><b>Логин: </b><input type="text" name="p_login"><br><br></label>
                    <label><b>Пароль: </b><input type="password" name="p_password"><br><br></label>
                    <label><b>Место работы: </b><select size="1" name="p_port">
                        {% for i in port %}
                            <option value="{{ i.port }}">{{ i.port }}</option>
                        {% endfor %}
                    </select><br><br></label>
                    <input type="submit" value="Добавить" class="button">
                    <br><br><br>
                </form>
                {{ g }}
            </td>
        </tr>
    </table>





    <div class="demo">
        <input class="hide" id="hd-1" type="checkbox">
        <label for="hd-1">Список работников</label>
        <div>

            <h1 align="center">Список работников</h1>
            <iframe name="myframe" width="100%" height="320px" src="user_list"></iframe>

        </div>
        <br/>
        <br/>
        <input class="hide" id="hd-2" type="checkbox">
        <label for="hd-2">Список судов</label>
        <div>
            <h1 align="center">Список судов</h1>
            <iframe name="myframe" width="100%" height="320px" src="sudno_list"></iframe>
        </div>
        <br/>
        <br/>
        <input class="hide" id="hd-3" type="checkbox">
        <label for="hd-3">Список портов</label>
        <div>
            <h1 align="center">Список портов</h1>
            <iframe name="myframe" width="100%" height="320px" src="port_list"></iframe>
        </div>
        <br/>
        <br/>
        <input class="hide" id="hd-4" type="checkbox">
        <label for="hd-4">Список транспортировок</label>
        <div>
            <h1 align="center">Список транспортировок</h1>
            <iframe name="myframe" width="100%" height="420px" src="transp_list"></iframe>
        </div>
    </div>











    <br>
{% endblock %}