{% extends "index.html" %}

{% block content %}

    <div class="head">
        <h1 class="title">ВСЕ-ПОРТЫ.РФ</h1>
        <div style="background-color: darkblue; width:auto; height: 50px">


            <ul class="hr">
                <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href="../"><font color="white">На
                    главную</font>
                </a></h3></li>
                <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href="list_port"><font
                        color="white">Расписание
                    портов</font>
                </a></h3></li>
                <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href=""><font color="white">Список
                    судов</font>
                </a></h3></li>
            </ul>
        </div>

    </div>
    <div style="margin-left: 40px">
    <h3 style="margin-left: 20px; padding-top:20px">{{ a }} {{ p_name }} {{ b }} {{ p_port }}</h3>
    <div style="float: right">
    </div>
    <form action="add_user" method="post" class="form_1" style="margin-left: 20px">{% csrf_token %}
        <label>Судно:
            <select size="1" name="s_name">
                {% for i in sudno %}
                    <option value="{{ i.s_name }}">{{ i.s_name }}</option>
                {% endfor %}
            </select>
            <br><br></label>
        <label>Пункт отправления: <select size="1" name="p_otprav">
            <option value="{{ p_port }}">{{ p_port }}</option>
        </select><br><br></label>
        <label>Пункт прибытия: <select size="1" name="p_prib">
            {% for i in port %}
                <option value="{{ i.port }}">{{ i.port }}</option>
            {% endfor %}
        </select><br><br></label>
        <label>Время отправки: <input type="datetime-local" name="t_otprav"><br><br></label>
        <label>Время прибытия: <input type="datetime-local" name="t_prib"><br><br></label>
        <input type="submit" value="Добавить транспортировку" class="button">
        <br><br>

    </form>
    <p style="margin-left: 20px">{{ x }}</p>
        <input class="hide" id="hd-5" type="checkbox">
        <label for="hd-5">Список транспортировок</label>
        <div style="width: 93%">
            <h1 align="center">Список транспортировок</h1>
            <iframe name="myframe" width="99.6%" height="420px" src="transp_list_local"></iframe>
        </div>
    </div>
{% endblock %}