{% extends "index.html" %}

{% block content %}
    {% include "include_1.html" %}
    <h3 align="center">Последниe транспортировки</h3>
    {% for i in x %}
        <table align="center" cellspacing="20px" cellpadding="10px">
            <tr>
                <td align="center"><b>
                    Название судна</b>
                </td>
                <td align="center"><b>
                    Модель судна</b>
                </td>
                <td align="center"><b>
                    Тип судна</b>
                </td>
                <td align="center"><b>
                    Характеристика судна</b>
                </td>
            </tr>
            <tr>
                <td>
                    {{ i.s_name }}
                </td>
                <td>
                    {{ i.s_model }}
                </td>
                <td>
                    {{ i.s_type }}
                </td>
                <td>
                    {{ i.s_char }}
                </td>
            </tr>
            <tr>

                <td align="center">
                    <b>Пункт отправления</b>
                </td>
                <td align="center">
                    <b>Пункт прибытия</b>
                </td>
                <td align="center">
                    <b>Время отправления</b>
                </td>
                <td align="center">
                    <b>Время прибытия</b>
                </td>


            </tr>
            <tr>
                <td>
                    {{ i.p_otprav }}
                </td>
                <td>
                    {{ i.p_prib }}
                </td>
                <td>
                    {{ i.t_otprav }}
                </td>
                <td>
                    {{ i.t_prib }}
                </td>

            </tr>
        </table>
        <hr>

    {% endfor %}

{% endblock %}
