<div class="head">

    <div class="panel">
        <h3>Панель администратора</h3>

    </div>
    <h1 class="title">ВСЕ-ПОРТЫ.РФ</h1>
    <div style="background-color: darkblue; width:auto; height: 50px">


        <ul class="hr">
            <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href="../"><font color="white">НА
                ГЛАВНУЮ</font>
            </a></h3></li>
            <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href="list_port"><font color="white">РАСПИСАНИЕ
                ПОРТОВ</font>
            </a></h3></li>
        </ul>
    </div>


</div>