<div class="head">
    <div class="auth">
        <form action="auth" method="post">{% csrf_token %}
            <div class="asd">
                <label><b>Логин: </b><input type="text" name="username" placeholder="admin@example.com" class="input">
                <br><br></label>
            <label><b>Пароль: </b><input type="password" name="password" placeholder="Сложный пароль...">
                <br><br></label>
            </div>
            <p class="access"><font color="#dc143c">{{ error }}</font></p>
            <input type="submit" value="ВОЙТИ" class="button">

        </form>
    </div>
    <DIV>
    <h1 class="title">ВСЕ-ПОРТЫ.РФ</h1>
    </DIV>
    <div style="background-color: darkblue; width:100%; height: 49px">


        <ul class="hr">
            <li><h3 style="float: left; padding-left: 20px"><a href="../"><font color="white">На главную</font>
            </a></h3></li>
            <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href="list_port"><font color="white">Расписание
                портов</font>
            </a></h3></li>
            <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href=""><font color="white">Список
                судов</font>
            </a></h3></li>
        </ul>
    </div>

</div>



