<!DOCTYPE html>
<html lang="ru">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>ВСЕ-ПОРТЫ.РФ</title>
    <link rel="stylesheet" type="text/css" href="{% static "all.css" %}">

</head>

<body>

<div class="content">
    {% block content %}


    {% endblock %}

</div>
</body>
</html>