{% extends "index.html" %}

{% block content %}
    <div class="head">
        <h1 class="title">ВСЕ-ПОРТЫ.РФ</h1>
        <div style="background-color: darkblue; width:auto; height: 50px">


            <ul class="hr">
                <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href="../"><font color="white">На
                    главную</font>
                </a></h3></li>
                <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href="list_port"><font
                        color="white">Расписание
                    портов</font>
                </a></h3></li>
                <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href=""><font color="white">Список
                    судов</font>
                </a></h3></li>
            </ul>
        </div>

    </div>

    <h1 align="center" style="padding-right: 100px">{{ x }}</h1>
    {% for i in y %}
        <table align="center" cellspacing="20px" cellpadding="10px">
            <tr>
                <td align="center"><b>
                    Название судна</b>
                </td>
                <td align="center"><b>
                    Модель судна</b>
                </td>
                <td align="center"><b>
                    Тип судна</b>
                </td>
                <td align="center"><b>
                    Характеристика судна</b>
                </td>
            </tr>
            <tr>
                <td>
                    {{ i.s_name }}
                </td>
                <td>
                    {{ i.s_model }}
                </td>
                <td>
                    {{ i.s_type }}
                </td>
                <td>
                    {{ i.s_char }}
                </td>
            </tr>
            <tr>
                <td align="center">
                    <b>Пункт отправления</b>
                </td>
                <td align="center">
                    <b>Пункт прибытия</b>
                </td>
                <td align="center">
                    <b>Время отправления</b>
                </td>
                <td align="center">
                    <b>Время прибытия</b>
                </td>
            </tr>
            <tr>
                <td>
                    {{ i.p_otprav }}
                </td>
                <td>
                    {{ i.p_prib }}
                </td>
                <td>
                    {{ i.t_otprav }}
                </td>
                <td>
                    {{ i.t_prib }}
                </td>

            </tr>
        </table>
        <hr>
    {% endfor %}
{% endblock %}