{% extends "index.html" %}

{% block content %}
    <div class="head">
        <h1 class="title">ВСЕ-ПОРТЫ.РФ</h1>
        <div style="background-color: darkblue; width:auto; height: 50px">


            <ul class="hr">
                <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href="../"><font color="white">На
                    главную</font>
                </a></h3></li>
                <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href="list_port"><font
                        color="white">Расписание
                    портов</font>
                </a></h3></li>
                <li><h3 style="float: left; padding-left: 20px;padding-top: 0px"><a href=""><font color="white">Список
                    судов</font>
                </a></h3></li>
            </ul>
        </div>

    </div>
    <form action="info" method="post">
        {% csrf_token %}
        <div style="height: 50px;margin-left: 33%; padding-top: 20px">
            <label><b>Выберите доступный порт:</b> <select size="1" name="port">
                {% for i in port %}
                    <option value="{{ i.port }}">{{ i.port }}</option>
                {% endfor %}
            </select><br><br></label>
            <input type="submit" value="Получить информацию" class="button"></div>
    </form>
    <br>
{% endblock %}