<!DOCTYPE html>
<html>
<head>
</head>
<body>
<table align="center" cellspacing="20px" cellpadding="20px">

    {% for i in port %}
        <tr>
            <td>{{ i.port }}</td>
            <td>
                <form action="port_list" method="post">
                    {% csrf_token %}
                    <button name='del_port' value="{{ i.port }}">Удалить</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>