<!DOCTYPE html>
<html>
<head>
</head>
<body>
<table align="center" cellspacing="20px" cellpadding="20px">

    <tr>
        <td><b>
            Название</b>
        </td>
        <td><b>
            Модель</b>
        </td>
        <td><b>
            Характеристики
        </b></td>
        <td><b>
            Тип
        </b></td>
        <td><b>
            Удалить
        </b></td>
    </tr>
    {% for i in sudno %}
        <tr>
            <td>
                {{ i.s_name }}
            </td>
            <td>
                {{ i.s_model }}
            </td>
            <td>
                {{ i.s_char }}
            </td>
            <td>
                {{ i.s_type }}
            </td>
            <td>

                <form action="sudno_list" method="post">
                    {% csrf_token %}
                    <button name='del_sudno' value="{{ i.s_name }}">Удалить</button>
                </form>
            </td>
        </tr>
    {% endfor %}


</table>
</body>
</html>