<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in transp %}
    {% if i.p_otprav == ports %}
        <table align="center" cellspacing="20px" cellpadding="10px">
            <tr>
                <td align="center"><b>
                    Название судна</b>
                </td>
                <td align="center"><b>
                    Модель судна</b>
                </td>
                <td align="center"><b>
                    Тип судна</b>
                </td>
                <td align="center"><b>
                    Характеристика судна</b>
                </td>
                <td align="center">
                    <b>Пункт отправления</b>
                </td>
            </tr>
            <tr>
                <td><p align="center">
                    {{ i.s_name }}
                </p>
                </td>
                <td><p align="center">
                    {{ i.s_model }}</p>
                </td>
                <td><p align="center">
                    {{ i.s_type }}</p>
                </td>
                <td><p align="center">
                    {{ i.s_char }}</p>
                </td>
                <td><p align="center">
                    {{ i.p_otprav }}</p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <b>Пункт прибытия</b>
                </td>
                <td align="center">
                    <b>Время отправления судна</b>
                </td>
                <td align="center">
                    <b>Время прибытия судна</b>
                </td>
                <td align="center">
                    <b>Уникальный номер</b>
                </td>
                <td align="center">
                    <b>Удалить</b>
                </td>

            </tr>

            <tr>
                <td><p align="center">
                    {{ i.p_prib }}</p>
                </td>
                <td><p align="center">
                    {{ i.t_otprav }}</p>
                </td>
                <td><p align="center">
                    {{ i.t_prib }}</p>
                </td>
                <td><p align="center">
                    {{ i.key }}</p>
                </td>
                <td>
                    <form action="transp_list" method="post">
                        {% csrf_token %}
                        <button name='del_transp' value="{{ i.key }}" style="margin-left:35px">Удалить</button>
                    </form>
                </td>

            </tr>
        </table>
        <hr>
    {% endif %}
{% endfor %}

</body>
</html>