<html>
<head>
</head>
<body>
    <table align="center" cellspacing="20px" cellpadding="20px">
        <tr>
            <td><h2>Имя пользователя</h2></td>
            <td><h2>Логин</h2></td>
            <td><h2>Пароль</h2></td>
            <td><h2>Порт</h2></td>
            <td><h2>Удалить</h2></td>
        </tr>
        {% for i in user %}
            <tr>

                <td>{{ i.p_name }}</td>
                <td>{{ i.p_login }}</td>
                <td>{{ i.p_password }}</td>
                <td>{{ i.p_port }}</td>
                <td>
                    <form action="del_user" method="post">
                        {% csrf_token %}
                        <button name='del_user' value="{{ i.p_name }}">Удалить</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
        {% for i in user %}

        {% endfor %}
    </table>
</body>
</html>